
<div class="container">
	<h1>This Weeks New Programming Books</h1><br />
	<div class="center"><br /><p>
		<%=session[:fb_error]%>	
	</p>
	
	<% if cookies[:remember_token] %>	<!-- show the books, they are logged in-->
	  <%= render 'books/books' %>
	  <a href='logout'>Logout</a>
	<% else %>
		<%= link_to image_tag("facebook.png"), "/auth/facebook",:class => "popup", :"data-width" => 600, :"data-height" => 400 %> <br />
		<br />
		<p class ="discover">
			Discover new programming books. These books are for people interested in web development, computer science, algorithms or web design.
		</p><br />
		<p class ="discover">
			We are currently updating the list weekly and plan on updating it daily in a little bit! Come discover new books with us.
		</p><br />
		<p class ="discover">
			We will also be offering a daily subscription email, so that you get notified weekly on new books that are coming out.
		</p>
		<p>
			<br />
			<%= link_to "Log in with Facebook", "/auth/facebook",:class => "popup", :"data-width" => 600, :"data-height" => 400 %>  <%= image_tag("book_fb.gif") %><br />
		</p>
	<% end %>
	</div>
</div>
